@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  margin: 2rem 0;
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  padding: 3rem;
  border-radius: 25px;
}

@media screen and (max-width: 500px) {
  .page {
    padding: 1.5rem;
    border-radius: 23px;
  }
}
